<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Tile.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{64,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,72}}</string>
                <key>sourceSize</key>
                <string>{64,72}</string>
            </dict>
            <key>apple-Highlighted.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,68},{64,68}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{64,68}}</string>
                <key>sourceSize</key>
                <string>{64,72}</string>
            </dict>
            <key>apple.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,198},{60,62}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,8},{60,62}}</string>
                <key>sourceSize</key>
                <string>{64,72}</string>
            </dict>
            <key>banana-Highlighted.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{64,66}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,66}}</string>
                <key>sourceSize</key>
                <string>{64,72}</string>
            </dict>
            <key>banana.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{62,54}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,8},{62,54}}</string>
                <key>sourceSize</key>
                <string>{64,72}</string>
            </dict>
            <key>grape-Highlighted.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{64,70}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,70}}</string>
                <key>sourceSize</key>
                <string>{64,72}</string>
            </dict>
            <key>grape.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{62,58}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{62,58}}</string>
                <key>sourceSize</key>
                <string>{64,72}</string>
            </dict>
            <key>kiwi-Highlighted.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,196},{62,62}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{62,62}}</string>
                <key>sourceSize</key>
                <string>{64,72}</string>
            </dict>
            <key>kiwi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,388},{56,54}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,10},{56,54}}</string>
                <key>sourceSize</key>
                <string>{64,72}</string>
            </dict>
            <key>orange-Highlighted.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,2},{64,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,72}}</string>
                <key>sourceSize</key>
                <string>{64,72}</string>
            </dict>
            <key>orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,132},{64,66}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{64,66}}</string>
                <key>sourceSize</key>
                <string>{64,72}</string>
            </dict>
            <key>pieapple-Highlighted.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{64,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,72}}</string>
                <key>sourceSize</key>
                <string>{64,72}</string>
            </dict>
            <key>pieapple.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,68},{62,70}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,70}}</string>
                <key>sourceSize</key>
                <string>{64,72}</string>
            </dict>
            <key>strawberry-Highlighted.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,134},{64,60}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{64,60}}</string>
                <key>sourceSize</key>
                <string>{64,72}</string>
            </dict>
            <key>strawberry.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{62,52}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,11},{62,52}}</string>
                <key>sourceSize</key>
                <string>{64,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cookie.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b062310cbf14ae4b7fd6810d111698f3:1/1$</string>
            <key>textureFileName</key>
            <string>cookie.png</string>
        </dict>
    </dict>
</plist>
